MODEL:
  TYPE: generalized_rcnn
  CONV_BODY: FPN.add_fpn_ResNet50_conv5_body
  NUM_CLASSES: 81 #visdrone categories+cluster
  FASTER_RCNN: True
  RPN_ONLY: False
  Cluster_RCNN_ON: True
  #CLS_AGNOSTIC_BBOX_REG: True  # default: False
NUM_GPUS: 1
SOLVER:
  WEIGHT_DECAY: 0.0001
  LR_POLICY: steps_with_decay
  BASE_LR: 0.0025
  GAMMA: 0.1
	MAX_ITER: 2000	
  STEPS: [0, 30000, 40000]
FPN:
  FPN_ON: True
  MULTILEVEL_ROIS: True
  MULTILEVEL_RPN: True
  MULTILEVEL_Cluster_RPN: True
FAST_RCNN:
  ROI_BOX_HEAD: fast_rcnn_heads.add_roi_2mlp_head
  ROI_XFORM_METHOD: RoIAlign
  ROI_XFORM_RESOLUTION: 7
  ROI_XFORM_SAMPLING_RATIO: 2
Cluster_RCNN:
  ROI_BOX_HEAD: cluster_rcnn_heads.add_cluster_roi_2mlp_head
  ROI_XFORM_METHOD: RoIAlign
  ROI_XFORM_RESOLUTION: 7
  ROI_XFORM_SAMPLING_RATIO: 2
TRAIN:
  WEIGHTS: https://dl.fbaipublicfiles.com/detectron/ImageNetPretrained/MSRA/R-50.pkl
	DATASETS: ('visdrone_data',)	
  SCALES: (500,)	
  MAX_SIZE: 833	
  BATCH_SIZE_PER_IM: 256
  RPN_PRE_NMS_TOP_N: 2000  # Per FPN level
TEST:
  DATASETS: ('visdrone_val',)
	SCALE: 500	
  MAX_SIZE: 833
  NMS: 0.5
  RPN_PRE_NMS_TOP_N: 1000  # Per FPN level
  RPN_POST_NMS_TOP_N: 1000
  DETECTIONS_PER_IM: 300
  FORCE_JSON_DATASET_EVAL: True
OUTPUT_DIR: .
VIS: False
VIS_TH: 0.5

